<div>
  <h3>Entity extraction</h3>

  <div>
    <form (submit)="search(text,min_confidence,includeParams)" class="mb-5">
      <div class="form-group mb-2">
        <label for="text">Put your text here</label>
        <input type="text" class="form-control" id="text" name="text" placeholder="text" [(ngModel)]="text">
      </div>

      <div class="slidecontainer">
        <label>Min Confidence:</label> <br>
        <input type="range" min="0" max="100" class="slider" name="min_confidence" [(ngModel)]="min_confidence">
        <label>{{min_confidence}}</label>
      </div>


      <div>
        <label>Include:</label>
        <input type="checkbox" id="include" name="include" (change)="include">

        <div class="form-group mb-2">
          <input type="text" class="form-control" id="includeParams" name="includeParams" placeholder="image,abstract,categories" [(ngModel)]="includeParams">
        </div>
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
